/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/* set global font to Open Sans */
body {
  font-family: 'Open Sans', 'sans-serif';
  margin: 0px;
}

/* css for title */
h2 {
  color: #55acee;
  text-align: center;
  margin: 5px;
}

/* Container styling */
.container {
    width: 100%;
    height: 100%;
    display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
    display: block;
    align-items: center;
    align-self: center;
}

.ip1 {
  width: 350px;
  height: 300px;
  border-radius: 15px;
  border: 1px solid pink;
  padding: 10px;
  background: whitesmoke;
  font-size: large;
}

.ip1:focus {
  outline: none;
}

/* links styling */
.link {
  border-bottom: 2px dotted #55acee;
  text-decoration: none;
  color: #55acee;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
}

.link:hover {
  color: #2ecc71;
  border-bottom: 2px dotted #2ecc71;
}

/* css for the shiny buttons */
.btn {
  cursor: pointer;
  margin: 1px;
  border-radius: 10px;
  text-decoration: none;
  padding: 10px;
  font-size: 16px;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  display: inline-block;
  text-align: center;
  
}

.btn:focus {
    outline: none;
}

.blue {
  color: #55acee;
  border: 2px #55acee solid;
}

.blue:hover {
  background-color: #55acee;
  color: #fff
}

.green {
  color: #2ecc71;
  border: 2px #2ecc71 solid;
}

.green:hover {
  color: #fff;
  background-color: #2ecc71;
}

.purple {
  color: #9b59b6;
  border: 2px #9b59b6 solid;
}

.purple:hover {
  color: #fff;
  background-color: #9b59b6;
}

.orange {
  color: #e67e22;
  border: 2px #e67e22 solid;
}

.orange:hover {
  color: #fff;
  background-color: #e67e22;
}

/* Tooltip styling */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.footer-notes {
    padding: 10px;
    text-align: left;
}